body {
  box-sizing: border-box;
}

/* The Column that contains the first list type element (icon, image, number) */
.vc-module-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: center;
}

/* Row that contains the Icon/Image/Number and the List Item Content */
.vc-module-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

/* Content List Item Properties */
.vc-row-content-item {

  width: calc( 100% - 200px );
}

/* Image Properties */
.vc-row-content-image {
  width: 200px;
  height: 200px;
  background-repeat:no-repeat;
  background-size: 100% 100% !important;
 }

/* Number Properties */
 .vc-row-content-number {
  text-align: center;
  width: 10%;
  height: 10%;
 }