body {
  box-sizing: border-box;
}

.vc-module-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: center;
}

.vc-module-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.vc-row-content-item{

  /* width: calc( 100% - 200px ); */
}

/* .vc-row-image-style{
  width: 200px
  height: 200px;
} */

.vc-row-content-image{
  width: 200px;
  height: 200px;
  /* /* background-size: cover;  */
  background-repeat:no-repeat;
  background-size: 100% 100% !important;
 }